html, body {
    height: 100%;
    margin: 0 auto;
}
body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2ebce+0,fcfcfc+16,fcfcfc+16,f9f9f9+52,f9f9f9+82,f2ebce+98 */
background: #f2ebce; /* Old browsers */
background: -moz-linear-gradient(top, #f2ebce 0%, #fcfcfc 16%, #fcfcfc 16%, #f9f9f9 52%, #f9f9f9 82%, #f2ebce 98%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #f2ebce 0%,#fcfcfc 16%,#fcfcfc 16%,#f9f9f9 52%,#f9f9f9 82%,#f2ebce 98%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #f2ebce 0%,#fcfcfc 16%,#fcfcfc 16%,#f9f9f9 52%,#f9f9f9 82%,#f2ebce 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2ebce', endColorstr='#f2ebce',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
background-size: cover;
}